body{
    margin: 0 10vw;
}

header{
    width: 100%;
    min-height: 20vh;
    position: relative;
    text-align: center;
}

.avatar{
    float: left;
    max-height: 20vh;
    border-radius: 50%;
}

.header__title{
    color: rgb(4, 3, 3);
    padding-top: 40px;
    font-size: 50px;
    margin-top: 0px;
}

.header__subtitle{
    color: rgb(84, 84, 243);
}